@import url("https://fonts.googleapis.com/css2?family=Major+Mono+Display&family=Oswald:wght@200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	/* font-family: "Koulen", cursive; */
	font-family: "Oswald", sans-serif;
  letter-spacing: 0.1rem;
}

body {
	margin: 0;
	position: relative;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	display: grid;
	justify-items: center;
}

body::before {
	z-index: -10;
	content: "";
	background-image: url("./pexels-sasha-martynov-1260727.jpg");
	filter: sepia(0.5);
	background-size: 70%;
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	opacity: 0.2;
}
